####################################################################
# Font Configuration File
# This file is intended to initialize the FreeType2 library
# with fonts that are used by the BeNomad (or your) graphic charts.
# 
# This file must be structured as follow:
#
# FONT_PATH : Defines the current directory for .ttf files lookup.
# After a FONT_PATH definition, you will find a series of (key/value)
# pairs where the key is an XLFD (X Logical Font Description) string
# and the value the name of a TrueType file (.ttf).
# (See http://www.sensi.org/~alec/locale/other/xlfd.html for further
# information).
# 
####################################################################
#FONT_PATH=.
#-microsoft-tahoma-medium-r-normal--0-0-0-0-p-0-- DejaVuSans.ttf
#-microsoft-tahoma-bold-r-normal--0-0-0-0-p-0--	 DejaVuSans-Bold.ttf
#-microsoft-tahoma-black-r-normal--0-0-0-0-p-0--  DejaVuSans-Bold.ttf
FONT_PATH=.
-microsoft-tahoma-medium-r-normal--0-0-0-0-p-0-- NotoSans-HanaMin-World-Regular-save.ttf
-microsoft-tahoma-bold-r-normal--0-0-0-0-p-0--	 NotoSans-HanaMin-World-Regular-save.ttf
-microsoft-tahoma-black-r-normal--0-0-0-0-p-0--  NotoSans-HanaMin-World-Regular-save.ttf
